
            <%= form_with(model: phonebook, id: "phonebook_form") do |form| %>
              <div class="modal-body">      
                <% if phonebook.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(phonebook.errors.count, "error") %> prohibited this phonebook from being saved:</h2>

                    <ul>
                      <% phonebook.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div>
                  <%= form.label :first_name, style: "display: block" %>
                  <%= form.text_field :first_name %>
                </div>

                <div>
                  <%= form.label :last_name, style: "display: block" %>
                  <%= form.text_field :last_name %>
                </div>

                <div>
                  <%= form.label :email, style: "display: block" %>
                  <%= form.text_field :email_address %>
                </div>

                <div>
                  <%= form.label :phone, style: "display: block" %>
                  <%= form.text_field :phone %>
                </div>
              </div>
              <div class="modal-footer">
                <div>
                  <button class="btn btn-success" type="submit" data-bs-dismiss="modal">Submit</button>
                </div>
              </div>
            <% end %>