<tr id="<%= dom_id phonebook%>_item">
    <td>
        <%= phonebook.first_name+" "+phonebook.last_name%>
    </td>
    <td>
        <div class=btn-group>
            <button class="btn btn-sm btn-secondary" data-id="<%=phonebook.id%>" onclick="methods.btnShowClick(this)">Show</button>
            <button class="btn btn-sm btn-warning" data-id="<%=phonebook.id%>" onclick="methods.btnEditClick(this)">Ubah</button>
            <%= button_to "Hapus", phonebook_path(phonebook), method: :delete, class: "btn btn-sm btn-danger btn-delete", form: {data: {"turbo_confirm": "Apakah Anda Yakin Menghapus Data Ini?"}}%>
        </div>
    </td>
</tr>