<%= turbo_stream.replace "counter" do%>
    <div id="counter" class="card-title text-end"><%=@contact_count%></div>
<%end%>
<%= turbo_stream.replace "phonebook_row" do%>
    <tbody id="phonebook_row">
        <%= render partial: "phonebook_row", collection: @phonebooks, as: "phonebook" %>
    </tbody>
<%end%>
<%= turbo_stream.replace "phonebook_form" do%>
    <%= render "form", phonebook: Phonebook.new %>
<%end%>
<%= turbo_stream.replace "alert-box" do%>
    <p style="color: red" id="alert-box"></p>
<%end%>