<h1>Editing phonebook</h1>

<%= render "form", phonebook: @phonebook %>

<br>

<div>
  <%= link_to "Show this phonebook", @phonebook %> |
  <%= link_to "Back to phonebooks", phonebooks_path %>
</div>
