<%# <%= turbo_frame_tag "notif_container" do%>
  <%# <%= turbo_frame_tag "modal_container" do%>
  <p style="color: green"><%= notice %></p>
  <p style="color: red" id="alert-box"></p>

  <div class="row">
    <h1>Phonebooks</h1>
  </div>

  <div class="row m-3">
    <div class="card text-bg-success">
      <div class="card-body">
        <div class="card-text">Jumlah Kontak Tersimpan</div>
        <div id="counter" class="card-title text-end"><%=@contact_count%></div>
      </div>
    </div>
  </div>

  <div class="row m-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nama lengkap</th>
          <th>
            <%# <%= link_to "Tambah", new_phonebook_path, class: "btn btn-sm btn-primary btn-create", data:{turbo_frame: "modal_container"}%>
            <button class="btn btn-sm btn-primary" onclick="methods.btnCreateClick(this)">Tambah</button>
          </th>
        </tr>
      </thead>
      <tbody id="phonebook_row">
        <%= render partial: "phonebook_row", collection: @phonebooks, as: "phonebook" %>
      </tbody>
    </table>
  </div>
    <div class="modal" data-bs-backdrop="static" id="modal-form-create">
      <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Form</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </div>
              <%= render "form", phonebook: Phonebook.new%>
          </div>
      </div>
    </div>
    <div class="modal" data-bs-backdrop="static" id="modal-form-edit">
      <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Form</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </div>
              <%= render "form", phonebook: Phonebook.new%>
          </div>
      </div>
    </div>
    <div class="modal" id="modal-detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    <dl class="row" id="detail-field">
                    </dl>
                </div>
            </div>
        </div>
    </div>
  <%# <%end%>
<%# <%end %>