<p style="color: green"><%= notice %></p>

<%= render @phonebook %>

<div>
  <%= link_to "Edit this phonebook", edit_phonebook_path(@phonebook) %> |
  <%= link_to "Back to phonebooks", phonebooks_path %>

  <%= button_to "Destroy this phonebook", @phonebook, method: :delete %>
</div>
