<%= turbo_stream.replace "phonebook_row" do%>
    <tbody tbody id="phonebook_row">
        <%= render partial: "phonebook_row", collection: @phonebooks, as: "phonebook" %>
    </tbody>
<%end%>
<%= turbo_stream.replace "alert-box" do%>
    <p style="color: red" id="alert-box"></p>
<%end%>